<div class="click" (click)="this.visible = !this.visible">OpenDialog</div>
<p-dialog class="dialog" [header]="dialogTitle" [(visible)]="visible" [modal]="true"
          [style]="{height: '80vh',width: '50vw'}"
          (onHide)="closeDialog($event)">
    <form #f="ngForm" name="interview" novalidate>
        <div class="flex">
            <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-video"></i>
            </span>
                <textarea
                        [(ngModel)]="interview.meeting"
                        name="meetingUrl"
                        placeholder="Место собеседования"
                        [style]="{width: '100%'}"></textarea>
            </div>

            <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-calendar"></i>
            </span>
                <p-calendar name="dateStart"
                            [(ngModel)]="interview.dateStart"
                            [showTime]="true"
                            appendTo="body"
                            placeholder="Дата начала собеседования"
                ></p-calendar>
            </div>

            <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-calendar"></i>
            </span>
                <p-calendar name="dateStart"
                            [(ngModel)]="interview.dateEnd"
                            [showTime]="true"
                            appendTo="body"
                            placeholder="Дата окончания собеседования"
                ></p-calendar>
            </div>

        </div>
    </form>

    <p-footer>
        <div class="flex justify-content-center">
            <p-button icon="pi pi-check"
                      (onClick)="onSubmit($event)"
                      [disabled]="!f.valid"
                      [label]="getSaveLabel()"
                      styleClass="p-button-info">
            </p-button>
        </div>
    </p-footer>
</p-dialog>