<div class="click" (click)="this.visible = !this.visible">OpenDialog</div>
<p-dialog class="dialog" [header]="dialogTitle" [(visible)]="visible" [modal]="true"
          [style]="{maxHeight: '80vh',width: '50vw'}"
          (onHide)="closeDialog($event)">
    <form #f="ngForm" name="interview" novalidate>
        <div class="flex" [class.formDisabled]="loading">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="min-width: 170px">Место собеседования</span>

                <p-dropdown [options]="allPlaces"
                            [optionLabel]="'name'"
                            appendTo="body"
                            [(ngModel)]="interview.place"
                            name="placeDrop"
                            (ngModelChange)="validateChecker()"
                            [required]="true"
                            [style]="{width: '100%'}"></p-dropdown>
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 170px">Дата начала</span>
                <p-calendar name="dateStart"
                            [(ngModel)]="interview.dateStart"
                            [showTime]="true"
                            appendTo="body"
                            (ngModelChange)="validateChecker()"
                            [required]="true"
                            placeholder="Введите дату и время"
                ></p-calendar>
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 170px">Дата окончания</span>

                <p-calendar name="dateEnd"
                            [(ngModel)]="interview.dateEnd"
                            [showTime]="true"
                            [required]="true"
                            (ngModelChange)="validateChecker()"
                            appendTo="body"
                            placeholder="Введите дату и время"
                ></p-calendar>
            </div>


            <p-button
                    icon="pi pi-plus"
                    pTooltip="Добавить участника"
                    label="Новый участник"
                    styleClass="tiffany-button"
                    (click)="openSidebarWithAllSkills()"
            >
            </p-button>
            <div class="flex flex-wrap gap-3 info-block">
                <div class="skills" *ngFor="let employee of selectedEmployees">

                    <div class="skills__title">
                        <button pButton
                                icon="pi pi-times"
                                class="tiffany-button-secondary"
                                [style]="{border: 'none !important' }"
                                (click)="deleteSkill(employee.id)">
                        </button>
                        {{employee.employeeFullName}}
                    </div>
                </div>
            </div>


        </div>
    </form>

    <p-footer>
        <div class="flex justify-content-center" [class.formDisabled]="loading">
            <p-button icon="pi pi-check"
                      (onClick)="onSubmit($event)"
                      [disabled]="!f.valid || selectedEmployees.length === 0
                      || this.saveButtonIsNotValidated"
                      [label]="getSaveLabel()"
                      styleClass="tiffany-button">
            </p-button>
        </div>
    </p-footer>
</p-dialog>

<p-sidebar [(visible)]="showSidebarWithAllSkills" *ngIf="showSidebarWithAllSkills" position="right">
    <div class="container">
        <h1>Список всех Экспертов</h1>
        <div class="main-block" *ngFor="let employee of employees; let indexGroup = index">
            <div class="main-block__first">
                <div class="main-block__title">{{employee.employeeFullName}}</div>
                <div class="main-block__add">
                    <p-button
                            icon="pi pi-plus"
                            styleClass="tiffany-button "
                            (onClick)="addEmployeeToList(employee)">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>