<div class="container ">
    <p-toolbar>
        <div class="table-name">Группы компетенций</div>
        <nav>
            <p-button icon="pi pi-sync"
                      styleClass="p-button-rounded p-button-warning p-button-outlined"
                      (click)="getAllCompetenceGroupsFromApi()">
            </p-button>

            <p-button
                    icon="pi pi-filter"
                    styleClass="p-button-outlined p-button-warning"
                    (onClick)="showFilter()">
            </p-button>

            <p-button
                    icon="pi pi-plus"
                    styleClass="p-button-outlined"
                    (click)="createCompetenceGroup()">
            </p-button>
            <p-button
                    icon="pi pi-pencil"
                    styleClass="p-button-outlined p-button-help"
                    [disabled]="!selectedCompetenceGroup"
                    (onClick)="updateCompetenceGroup()">
            </p-button>
        </nav>

    </p-toolbar>

    <ag-grid-angular
            style="width: 100%; height: 100%"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData"
            [overlayLoadingTemplate]="overlayLoadingTemplate"
            [loadingCellRenderer]="loadingCellRenderer"
            [overlayNoRowsTemplate]="'Данные отсутствуют'"
            [loadingCellRendererParams]="loadingCellRendererParams"
            [rowSelection]="'multiple'"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)">
    </ag-grid-angular>

    <app-competence [competence-group]="selectedCompetenceGroup"
                         class="vacancy-respond"></app-competence>

    <app-competence-group-dialog [openDialog]="openDialog"
                        *ngIf="openDialog"
                        [item]="selectedCompetenceGroup"
                        [editMode]="dialogEditMode"
                        (submit)="onDialogSubmit($event)">
    </app-competence-group-dialog>
</div>