<div class="nav" >
  <div class="hello-text">Добро пожаловать в "Атомпродукт"</div>
  <ng-container>
    <div class="nav__buttons">
      <button *ngIf="userRole == 'admin'" pButton type="button" class="p-button-success tiffany-button"
              label="Администрирование" routerLink="/admin" icon="pi pi-cog" ></button>
      <button pButton type="button" class="p-button-success tiffany-button" label="Вакансии" routerLink="/vacancy"
              icon="pi pi-file-edit"></button>

<!--     DEPRECATED до лучших времен -->
<!--      <button pButton type="button" class="p-button-success" label="Заказы" routerLink="/request"-->
<!--              icon="pi pi-dollar"></button>          -->
<!--      <button pButton type="button" class="p-button-success" label="Аналитика" routerLink="/analytics"-->
<!--              icon="pi pi-chart-bar"></button>-->

<!--      <button pButton type="button" class="p-button-success" label="Мастер-Дитейл(2)" routerLink="/3ple"-->
<!--              icon="pi pi-chart-bar"></button>-->
<!--      <button pButton type="button" class="p-button-success" label="TreeData" routerLink="/treeData"-->
<!--              icon="pi pi-chart-bar"></button>-->
<!--      <button pButton type="button" class="p-button-success" label="vacancyRequest" routerLink="/vacancyRequest"-->
<!--              icon="pi pi-chart-bar"></button>-->

    </div>
  </ng-container>
</div>

