<p-toolbar>
  <div class="table-name">Отклики</div>
  <nav>
    <p-button icon="pi pi-sync"
              styleClass="p-button-rounded p-button-warning p-button-outlined"
              (click)="getRespondByVacancyIdFromApi()"
              [disabled]="!vacancy">
    </p-button>

    <p-button
      icon="pi pi-filter"
      styleClass="p-button-outlined p-button-warning"
      (onClick)="showFilter()"
      [disabled]="!vacancy">
    </p-button>

    <p-button
      icon="pi pi-search"
      styleClass="p-button-outlined"
      [disabled]="!vacancy || !this.selectedVacancyRespond.vacancyId"
      (onClick)="openRespondPdfResumeDialog()">
    </p-button>
    <!--    <p-menubar [model]="items" appendTo="body"></p-menubar>-->
    <div class="card flex justify-content-center">
      <button #btn type="button" pButton icon="pi pi-bars" style="height: 33px" label="Управление"
              (click)="menu.toggle($event)"></button>
      <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
    </div>

    <div class="card flex justify-content-center">
      <p-inputSwitch [(ngModel)]="showArchive" (ngModelChange)="showArchivePressed()">Показывать архив</p-inputSwitch>
      <span>Показывать архив</span>
    </div>


    <!--        <p-button-->
    <!--          icon="pi pi-search"-->
    <!--          styleClass="p-button-outlined"-->
    <!--          [disabled]="!vacancy || !selectedVacancyRespond || !selectedVacancyRespond.id"-->
    <!--          (onClick)="inviteToInterview()">-->
    <!--        </p-button>-->

    <!--        <p-button label="Отправить оффер"-->
    <!--          icon="pi pi-search"-->
    <!--          styleClass="p-button-outlined"-->
    <!--          [disabled]="!vacancy || !selectedVacancyRespond || !selectedVacancyRespond.id"-->
    <!--          (onClick)="sendOffer()">-->
    <!--        </p-button>-->

    <!--        <p-button label="Удалить"-->
    <!--                  icon="pi pi-trash"-->
    <!--                  [disabled]="!vacancy || !selectedVacancyRespond || !selectedVacancyRespond.id"-->
    <!--                  styleClass="p-button-outlined p-button-danger"-->
    <!--                  (onClick)="archiveRequestPosition()">-->
    <!--        </p-button>-->


    <!--            <p-checkbox [disabled]="!vacancy || !selectedVacancyRespond"-->
    <!--                        [(ngModel)]="showArchive"-->
    <!--                        label="Показывать архив"-->
    <!--                        [binary]="true"-->
    <!--                        inputId="binary"-->
    <!--                        >-->
    <!--            </p-checkbox>-->
  </nav>

</p-toolbar>

<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  [loadingCellRenderer]="loadingCellRenderer"
  [loadingCellRendererParams]="loadingCellRendererParams"
  [overlayNoRowsTemplate]="'Данные отсутствуют'"
  [rowData]="rowData"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)">
</ag-grid-angular>

<app-vacancy-request [openDialog]="openDialog"
                     *ngIf="openDialog"
                     [editMode]="dialogEditMode"
                     [selectedVacancyRespond]="this.selectedVacancyRespond"
                     (submit)="onDialogSubmit($event)">
</app-vacancy-request>
