<p-toolbar>
  <div class="table-name">Кандидаты</div>
  <nav>
    <p-button icon="pi pi-sync"
              styleClass="p-button-rounded p-button-warning p-button-outlined"
              (click)="getRespondByVacancyIdFromApi()"
              [disabled]="!vacancy">
    </p-button>

    <p-button
      icon="pi pi-filter"
      styleClass="p-button-outlined p-button-warning"
      (onClick)="showFilter()"
      [disabled]="!vacancy">
    </p-button>

    <p-button
      icon="pi pi-search"
      styleClass="p-button-outlined"
      [disabled]="!vacancy || !this.selectedVacancyRespond || !this.selectedVacancyRespond.vacancyId"
      (onClick)="openRespondPdfResumeDialog()">
    </p-button>
    <!--    <p-menubar [model]="items" appendTo="body"></p-menubar>-->
    <div class="card flex justify-content-center">
      <p-button
        icon="pi pi-bars"
        styleClass="p-button-outlined"
        [disabled]="!vacancy"
        #btn
        (onClick)="menu.toggle($event)">
      </p-button>
      <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
    </div>

    <!--    <div class="card flex justify-content-center">-->
    <!--      <p-inputSwitch [(ngModel)]="showArchive" (ngModelChange)="showArchivePressed()">Показывать архив</p-inputSwitch>-->
    <!--      <span>Показывать архив</span>-->
    <!--    </div>-->


    <!--        <p-button-->
    <!--          icon="pi pi-search"-->
    <!--          styleClass="p-button-outlined"-->
    <!--          [disabled]="!vacancy || !selectedVacancyRespond || !selectedVacancyRespond.id"-->
    <!--          (onClick)="inviteToInterview()">-->
    <!--        </p-button>-->

    <!--        <p-button label="Отправить оффер"-->
    <!--          icon="pi pi-search"-->
    <!--          styleClass="p-button-outlined"-->
    <!--          [disabled]="!vacancy || !selectedVacancyRespond || !selectedVacancyRespond.id"-->
    <!--          (onClick)="sendOffer()">-->
    <!--        </p-button>-->

    <!--        <p-button label="Удалить"-->
    <!--                  icon="pi pi-trash"-->
    <!--                  [disabled]="!vacancy || !selectedVacancyRespond || !selectedVacancyRespond.id"-->
    <!--                  styleClass="p-button-outlined p-button-danger"-->
    <!--                  (onClick)="archiveRequestPosition()">-->
    <!--        </p-button>-->

    <p-checkbox [disabled]="!vacancy || !selectedVacancyRespond"
                [(ngModel)]="showArchive"
                label="Архив"
                [binary]="true"
                inputId="binary"
                (ngModelChange)="showArchivePressed()">
    </p-checkbox>
  </nav>

</p-toolbar>

<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  [loadingCellRenderer]="loadingCellRenderer"
  [loadingCellRendererParams]="loadingCellRendererParams"
  [overlayNoRowsTemplate]="'Данные отсутствуют'"
  [rowData]="rowData"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)">
</ag-grid-angular>

<app-interview-dialog [openDialog]="openInterviewDialog"
                     *ngIf="openInterviewDialog"
                     [editMode]="interviewDialogEditMode"
                     [selectedVacancyRespond]="this.selectedVacancyRespond"
                     (submit)="onInterviewDialogSubmit($event)">
</app-interview-dialog>


<app-vacancy-respond-dialog [openDialog]="openVacancyRespondDialog"
                            *ngIf="openVacancyRespondDialog"
                            [item]="selectedVacancyRespond"
                            [vacancy]="vacancy"
                            [editMode]="vacancyRespondDialogEditMode"
                            (submit)="onVacancyRespondDialogSubmit($event)">
</app-vacancy-respond-dialog>
<p-confirmDialog #cd [style]="{width: '50vw'}" key="vacancy-respond-archive">
  <ng-template pTemplate="header">
    <h3>Архивация</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-check" label="Да" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Нет" (click)="cd.reject()"></button>
  </ng-template>
</p-confirmDialog>

<app-vacancy-competence-score-dialog [openDialog]="openDialogVacancyComp"
                    *ngIf="openDialogVacancyComp"
                    [item]="vacancy"
                    [itemRespond]="selectedVacancyRespond"
                    [staffUnit]="staffUnit"
                    [editMode]="dialogEditMode"
                    (submit)="onDialogSubmit($event)">
</app-vacancy-competence-score-dialog>
