<app-dialog *ngIf="visible"
            [visible]="visible"
            [selectedItem]="item"
            [title]="dialogTitle"
            [editMode]="editMode"
            (submit)="onSubmit($event)">

    <app-dialog-row [(item)]="item.position"
        [dropDown]="positions"
        [dropDownField]="'name'"
        icon = 'pi pi-user'
        title="Должность"
        type="list">
    </app-dialog-row>

    <app-dialog-row [(item)]="item.salary"
                    icon = 'pi pi-user'
                    title="Зарплата"
                    type="string">
    </app-dialog-row>

    <app-dialog-row [(item)]="item.experience"
                    icon = 'pi pi-user'
                    title="Опыт работы"
                    type="string">
    </app-dialog-row>

    <app-dialog-row [(item)]="item.additional"
                    icon = 'pi pi-user'
                    title="Дополнительно"
                    type="string">
    </app-dialog-row>
</app-dialog>