<div class="container">
  <div class="left-side">

    <div class="form-block">
      <div class="logo">
        <img ngSrc="../../assets/logo.svg" class="img1" alt="" height="200" width="200">

      </div>
      <div class="form-block__container">
        <div class="text block" style="color:#0ABAB5">{{title}}</div>
        <div class="block">
          <div class="col-12 md:col-4">
            <div class="p-inputgroup">
              <!--              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
              <input
                type="text"
                pInputText
                required
                placeholder="Логин"
                [(ngModel)]="user.login"/>
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="p-inputgroup">
              <!--              <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>-->
              <input
                type="password"
                pInputText
                required
                placeholder="Пароль"
                [(ngModel)]="user.password"/>
            </div>
          </div>

          <div class="button">
            <button
              class="button tiffany-button"
              [label]="'Войти'"
              pButton
              [disabled]="!user?.password || !user?.login"
              type="button"
              [style]="{'height':'50px', 'width':'100%'}"
              (click)="sendRequest()"></button>
          </div>
          <div class="button">
            <button pButton pRipple [style]="{'height':'50px', 'width':'100%'}"
                    type="button" routerLink="/registration"
                    label="Регистрация"
                    class="button tiffany-button-secondary"></button>
          </div>
          <div class="button">
            <div
                    routerLink="/password-recover"
                    class="small-text-link">Забыли пароль?</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <img ngSrc="../../assets/mainLogo.svg" class="img1" alt="" height="600" width="600">
  </div>
</div>
