<app-dialog *ngIf="visible"
            [visible]="visible"
            [selectedItem]="item"
            [title]="dialogTitle"
            [editMode]="editMode"
            (submit)="onSubmit($event)">

    <app-dialog-row [(item)]="item.note"
                    title="Примечание"
                    type="string"></app-dialog-row>

    <app-dialog-row [(item)]="item.product"
        [dropDown]="products"
        appendTo="body"
        [dropDownField]="'designation'"
        icon = 'pi pi-user'
        title="Желаемая дата поставки"
        type="list">
    </app-dialog-row>
                    
</app-dialog>