<p-dialog class="dialog" [header]="dialogTitle" [(visible)]="visible" [modal]="true"
          [style]="{maxHeight: '80vh',width: '50vw'}"
          (onHide)="closeDialog($event)">
    <form #f="ngForm" name="vacancy" novalidate>
        <div class="flex" [class.formDisabled]="loading">
            <!--            <div class="p-inputgroup">-->
            <!--                <span class="p-inputgroup-addon" style="width: 120px">Должность <span class="required-mark">*</span> </span>-->
            <!--                <p-dropdown [options]="positions"-->
            <!--                            appendTo="body"-->
            <!--                            [(ngModel)]="staffUnit.position"-->
            <!--                            (ngModelChange)="selectPosition()"-->
            <!--                            name="position"-->
            <!--                            [style]="{width: '100%'}"-->
            <!--                            [optionLabel]="'name'"></p-dropdown>-->
            <!--            </div>-->

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 120px">HR</span>
                <p-dropdown [options]="employees"
                            appendTo="body"
                            [(ngModel)]="staffUnit.employee"
                            name="firstName"
                            [style]="{width: '100%'}"
                            [optionLabel]="'employeeFullName'"></p-dropdown>
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 120px">Комментарий</span>

                <textarea [(ngModel)]="vacancyCompetenceScoreRequest.comment"
                          [autoResize]="true"
                          name="comment"
                          placeholder="Место для комментария" pInputTextarea></textarea>
            </div>
            <div class="personal-skills">
                <div class="flex flex-wrap gap-3 info-block">
                    <div class="personal-skills__header">
                        <div class="col1">Наименование</div>
                        <div class="personal-skills__multi">
                            <div class="col2">Вес</div>
                            <div class="col3">Оценка</div>
                        </div>

                    </div>
                    <div class="skills" *ngFor="let competenceWeightScore of competenceWeightScores">

                        <div class="skills__title">
                            {{competenceWeightScore.competence.name}}
                        </div>
                        <div class="skills__weight">
                            <p-inputNumber [(ngModel)]="competenceWeightScore.weight" [min]=0
                                           [name]="'weight' + competenceWeightScore.competence.id"
                                           [showButtons]="false" [disabled]="true"></p-inputNumber>

                            <p-inputNumber [(ngModel)]="competenceWeightScore.score" [min]=0
                                           [name]="'score' + competenceWeightScore.competence.id"
                                           [showButtons]="true"></p-inputNumber>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <p-footer>

        <p-button icon="pi pi-check"
                  (onClick)="onSubmit($event)"
                  [disabled]="!f.valid "
                  [label]="getSaveLabel()"
                  styleClass="tiffany-button">
        </p-button>
    </p-footer>
</p-dialog>
<p-sidebar [(visible)]="showSidebarWithAllSkills" *ngIf="showSidebarWithAllSkills" position="right">
    <div class="container">
        <h1>Список всех навыков</h1>
        <div class="main-block" *ngFor="let competenceGroup of competenceGroupsWithCompetences; let indexGroup = index">
            <div class="main-block__first">
                <div class="main-block__title">{{competenceGroup.competenceGroup.name}}</div>
                <div class="main-block__add">
                    <p-button
                            icon="pi pi-plus"
                            styleClass="tiffany-button "
                            (onClick)="pushGroupSkills(competenceGroup.competences)">
                    </p-button>
                </div>
            </div>

            <div class="dop-info">
                <div class="dop-info__container"
                     *ngFor="let competence of competenceGroup.competences; let index = index">
                    <div class="dop-info__title">
                        {{competence.name}}
                    </div>
                    <p-button
                            icon="pi pi-plus"
                            styleClass="tiffany-button "
                            (onClick)="pushNewSkill(competence.id, indexGroup)">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>
