<div class="container ">
    <p-toolbar>
        <div class="table-name">Штатные единицы</div>
        <nav>
            <p-button icon="pi pi-sync"
                      styleClass="p-button-rounded p-button-warning p-button-outlined"
                      (click)="getAllStaffUnitsFromApi()">
            </p-button>

            <p-button
                    icon="pi pi-filter"
                    styleClass="p-button-outlined p-button-warning"
                    (onClick)="showFilter()">
            </p-button>

            <p-button
                    icon="pi pi-plus"
                    styleClass="p-button-outlined"

                    (onClick)="createVacancy()">
            </p-button>

            <p-checkbox
                    [(ngModel)]="showArchive"
                    label="Открытые"
                    [binary]="true"
                    inputId="binary"
                    (ngModelChange)="showArchivePressed()">
            </p-checkbox>
        </nav>

    </p-toolbar>

    <ag-grid-angular
            style="width: 100%; height: 100%"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData"
            [overlayLoadingTemplate]="overlayLoadingTemplate"
            [loadingCellRenderer]="loadingCellRenderer"
            [overlayNoRowsTemplate]="'Данные отсутствуют'"
            [loadingCellRendererParams]="loadingCellRendererParams"
            [rowSelection]="'multiple'"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)">
    </ag-grid-angular>
</div>

<app-vacancy-dialog [openDialog]="openDialog"
                    *ngIf="openDialog"
                    [item]="selectedVacancy"
                    [staffUnit]="selectedStaff"
                    [singlePosition]="position"
                    [editMode]="dialogEditMode"
                    (submit)="onDialogSubmit($event)">
</app-vacancy-dialog>