<p-dialog class="dialog" [header]="dialogTitle" [(visible)]="visible" [modal]="true"
          [style]="{maxHeight: '80vh',width: '70vw'}"
          (onHide)="closeDialog($event)">
    <form #f="ngForm" name="vacancyRespond" novalidate>
        <div class="flex" [class.formDisabled] = "loading">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 230px">ФИО <span class="required-mark">*</span></span>
                <input [(ngModel)]="item.fullName"
                       name="fullName"
                       placeholder="Введите ФИО кандидата" pInputText required/>
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 230px">Электронная почта <span class="required-mark">*</span></span>
                <input [(ngModel)]="item.email"
                       type="email"
                       name="email"
                       [email]="true"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       placeholder="Введите адрес электронной почты кандидата" pInputText required/>
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 230px">Сопроводительное письмо <span class="required-mark">*</span></span>
                <textarea [(ngModel)]="item.coverLetter"
                       name="coverLetter"
                       placeholder="Введите сопроводительное письмо кандидата" pInputText required></textarea>
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" style="width: 230px">Url для резюме кандидата </span>
                <input [(ngModel)]="item.pathToResume"
                       pattern="^http.+(\.pdf)+$"
                       name="pathToResume"
                       placeholder="Введите url для резюме кандидата. Убедитесь в правильности введенной ссылки"
                       [required]="!!item.pathToResume" pInputText/>
            </div>
        </div>
    </form>

    <p-footer>

        <p-button icon="pi pi-check"
                  (onClick)="onSubmit($event)"
                  [disabled]="!f.valid"
                  [label]="getSaveLabel()"
                  styleClass="tiffany-button">
        </p-button>
    </p-footer>
</p-dialog>