<div class="container">
    <div class="left-side">
        <div class="form-block">
            <div class="form-block__container">
                <div class="text block">{{title}}</div>
                <div class="label block">{{currentLabel}}</div>
                <div class="block" style="padding-top: 10px">
                    <div *ngIf="this.currentState === this.passwordRecoverState.EMAIL_INPUT" class="col-12 md:col-4">
                        <div class="p-inputgroup">
                            <input
                                    type="text"
                                    pInputText
                                    required
                                    placeholder="Email"
                                    [(ngModel)]="this.emailForSendRecoverLetter"/>
                        </div>
                    </div>
                    <div *ngIf="this.currentState === this.passwordRecoverState.RECOVER_CODE_INPUT" class="col-12 md:col-4">
                        <div class="p-inputgroup">
                            <input
                                    type="text"
                                    pInputText
                                    required
                                    placeholder="Номер"
                                    [(ngModel)]="this.recoverCode"/>
                        </div>
                    </div>
                    <div *ngIf="this.currentState === this.passwordRecoverState.PASSWORD_INPUT" class="col-12 md:col-4">
                        <div class="p-inputgroup" >
                            <input
                                    type="password"
                                    pInputText
                                    required
                                    placeholder="Пароль"
                                    [(ngModel)]="this.newPassword"/>
                        </div>
                    </div>

                    <div *ngIf="this.currentState === this.passwordRecoverState.PASSWORD_INPUT" class="col-12 md:col-4">
                        <div class="p-inputgroup">
                            <input
                                    type="password"
                                    pInputText
                                    required
                                    placeholder="Повторите пароль"
                                    [(ngModel)]="this.newPasswordRepeat"/>
                        </div>
                    </div>

                    <div class="button"  style="display: inline-flex">
                        <p-button [pTooltip]="'К форме логина'"
                                  icon="pi pi-arrow-left" styleClass="p-button-secondary"
                                  routerLink="/login"></p-button>
                        <button
                                class="button"
                                [label]="this.currentButtonLabel"
                                [disabled]="this.disableButtonByStateConditions()"
                                pButton
                                type="button"
                                [style]="{'height':'50px', 'width':'100%', marginLeft: '5px'}"
                                (click)="onButtonClick()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <img src="../../assets/mainLogo.svg" class="img1" height="600" width="600" alt="">
    </div>
</div>
