.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}


:host {
  ::ng-deep {
    .p-dialog-content {
      overflow-y: auto;
    }
    .p-dialog {
      min-width: 300px !important;
    }
    .p-dialog-footer {
      background: var(--dialog-footer);
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 5px;
      align-items: center;

      .p-ripple {
        padding: 10px;
      }
    }
  }
}